@import "tailwindcss";

//color variables

$main-blue: #8dbed8;
$off-black: #212529;
$off-white: #f5f5f5;
$dark-gray: #757575;
$carrot-orange: #e57353;
$red: #d46a6a;
$pastel-green: #81c784;
$dark-blue: #4391bc;

//media query breakpoint variables - in accordance w/ tailwind.config

$xxs: 390px;
$xs: 425px;
$sm: 640px;
$md: 768px;
$lg: 1023px;
$xl: 1280px;
$xxl: 1536px; // '2xl' in tailwind

// all

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 100vw;
  font-family: Inter, sans-serif;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1,
h2,
h3 {
  font-family: Kodchasan;
}

button,
a {
  transition: 0.2s;
  &:hover,
  &:active {
    opacity: 0.85;
    cursor: pointer;
  }
}

.screen-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.screen-header-main {
  font-size: 32px;
}

.screen-header-sub {
  font-size: 20px;
}

// containers

.main {
  width: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: relative;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;

  @media (min-width: $xxl) {
    min-height: 1080px;
  }
}

//text elements

.section-header {
  font-size: 2.5rem;
  line-height: 1;
  font-weight: 700;

  @media (min-width: $xxs) {
    font-size: 3rem;
  }

  @media (min-width: $sm) {
    font-size: 3.5rem;
  }

  @media (min-width: $md) {
    font-size: 3.75rem;
  }

  @media (min-width: $lg) {
    font-size: 4.5rem;
  }
}

//text-only pages

.text-only-page-wrapper {
  padding: 10vh 20vw 10vh 20vw;
  .main-header {
    font-size: 2.5em;
  }
  .subheader {
    padding: 2em 0 0.5em 0;
    font-weight: 600;
  }
}

//ladning screen

.landing-screen {
  width: 100%;
  height: 100%;
  background-color: $main-blue;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: $lg) {
    min-height: auto;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 6em 0em 8em 0em;
    color: $off-white;

    @media (min-width: $lg) {
      padding: 8em 2em 8em 0;
    }

    .landing-main {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      @media (min-width: $lg) {
        justify-content: center;
        flex-direction: row;
        align-items: center;

        .slogan-original-container {
          width: 45%;
        }
        .relax-image {
          width: 40%;
        }
      }
    }

    .slogan-original-container {
      width: 100%;
      padding: 0 1.5em 0 1.5em;

      @media (min-width: $lg) {
        padding: 0 0em 0 1.5em;
      }

      .slogan-second-part {
        margin-top: 0.35em;

        @media (min-width: $xs) {
          display: none;
        }

        @media (min-width: $lg) {
          display: block;
        }
      }
    }

    .slogan {
      line-height: 1.6;
      font-size: 32px;
      display: flex;
      flex-direction: column;

      @media (min-width: $sm) {
        font-size: 40px;
        h2 {
          max-width: 40vw;
        }
      }

      @media (min-width: $lg) {
        h2 {
          max-width: 60vw;
        }
      }

      .slogan-hyphen {
        @media (min-width: $xs) {
          display: none;
        }
        @media (min-width: $lg) {
          display: inline;
        }
      }
    }

    .slogan-split-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: end;
      padding: 0 1.5em 0 0;
      @media (min-width: $lg) {
        display: none;
      }
    }

    .slogan-second-part-split {
      display: none;
      text-align: end;

      @media (min-width: $xs) {
        display: block;
      }
      @media (min-width: $lg) {
        display: none;
      }
    }

    .relax-image {
      width: 80%;
      margin: 4em 0 4em 0;

      @media (min-width: $xs) {
        margin-top: 15vw;
      }

      @media (min-width: $md) {
        width: 60%;
        margin: 4em 0 2em 0;
      }
    }

    .store-links-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;

      @media (min-width: $sm) {
        width: 100%;
        padding: 2em 0 0 2em;
      }

      .store-links-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 10em;
        height: 8em;

        @media (min-width: $xs) {
          margin: 10vw 0 0 0;
        }

        @media (min-width: $sm) {
          margin: 0;
          flex-direction: row;
          width: 25em;
          justify-content: space-between;
        }

        @media (min-width: $md) {
          margin: 0 0 0 1.5em;
        }

        @media (min-width: $lg) {
          margin: 0 0 0 10vw;
          width: 28em;
        }

        .store-link-button {
          @media (min-width: $sm) {
            width: 180px;
          }

          @media (min-width: $lg) {
            width: 200px;
          }
        }
      }
    }
  }
}

.contact-screen {
  width: 100%;
  height: 100%;
  background-color: $off-white;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: $lg) {
    min-height: auto;
  }

  h1,
  h2,
  h3,
  p {
    color: $off-black;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 6em 0em 6em 0em;
    color: $off-white;

    .screen-header {
      .screen-header-main {
        font-weight: 800;
      }
      .screen-header-sub {
        padding: 1em 1.5em 0 1.5em;
        text-align: center;
      }
    }

    .contact-form {
      padding: 3em 0 3em 0;
      width: 85%;
      max-width: 400px;

      @media (min-width: $md) {
        width: 60%;
        max-width: 670px;
      }

      input {
        width: 100%;
        height: 50px;
        font-size: 16px;
        padding: 0 0.75em 0 0.75em;
        margin-bottom: 1em;
        border: 1px solid $off-black;
        border-radius: 20px !important;
        background-color: white;
        color: $dark-gray;
        outline: none;

        &.is-active {
          color: $off-black;
        }

        &.valid-input {
          border: 2px solid $pastel-green !important;
        }

        &.invalid-input {
          border: 2px solid $red !important;
        }

        &:focus {
          border: 2px solid $dark-blue;
        }
      }

      .contact-form-user-data-row {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media (min-width: $md) {
          flex-direction: row;

          input {
            width: 47.5%;
          }
        }
      }

      textarea {
        border-radius: 20px;
        background-color: white;
        min-height: 25vh;
        max-height: 40vh;
        border: 1px solid $off-black;
        border-radius: 20px !important;
        padding: 0.75em 0.75em 0 0.75em;
        width: 100%;
        height: 100%;
        background-color: white;
        color: $dark-gray;
        outline: none;

        &.is-active {
          color: $off-black;
        }

        &.valid-input {
          border: 2px solid $pastel-green !important;
        }

        &.invalid-input {
          border: 2px solid $red !important;
        }

        &:focus {
          border: 2px solid $dark-blue;
        }
      }
    }

    .contact-form-button-row {
      width: 100%;
      display: flex;
      justify-content: end;
      padding: 1em 0;
      .contact-form-button {
        border-radius: 10px;
        height: 45px;
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $carrot-orange;
        font-family: Kodchasan;

        &.disabled {
          background-color: $main-blue;
          opacity: 0.8;
          &:hover {
            cursor: auto;
            // opacity: 1;
          }
        }
      }
    }
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em 0 1em;
  bottom: 0;
  width: 100vw;
  height: 93px;
  background-color: $main-blue;

  @media (min-width: $md) {
    padding: 0 2em 0 2em;
  }
  @media (min-width: $xl) {
    padding: 0 3em 0 3em;
  }

  h2,
  h3,
  p,
  span,
  a {
    color: $off-white;
    font-size: 14px !important;
    font-family: Inter;

    @media (min-width: $sm) {
      font-size: 24px;
    }
  }

  .footer-links-container {
    .footer-link {
      display: inline-block;
      font-weight: 500;
      text-decoration: inherit;
      padding: 0 0.5em 0 0.5em;

      &:not(:last-child) {
        // apply to every element except the last one
        border-right: 1px solid $off-white;
      }
    }
  }

  .footer-brand {
    // margin: 0 0 0 8px;
    opacity: 0.5;
    text-align: end;
  }
}
